.footer {
    background-color: var(--gray-700);
    
    margin-top: auto;
    padding: 1rem;
    padding-bottom: 0;
    
    text-decoration: none;
    font-size: small;
    text-align: center;
    color: var(--white);

    display: flex;
    justify-content: space-between;
}
.footer a {
    text-decoration: none;
    color: inherit;
    color: var(--purple-500);
}

.footer a:hover{
    color: var(--purple-300);
}
.logoGit {
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
}

.gitProjeto {
    margin-top: 1rem;
}