.app {
    background: linear-gradient(-45deg, #ee7652af, #e73c7eb6, #23a5d5a9, #23d5abb4);
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.wrapper {
    max-width: 46rem;
    margin: 2rem auto;
    padding: 0 1rem;
    
    display: grid;
    gap: 2rem;
    opacity: 1;
}

@media (max-width: 768px) {
    html {
        font-size: 87.5%;
    }
    .wrapper {
        grid-template-columns: 1fr;
    }
}

.conversor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: calc(0px - 4rem);
}

.conversor input{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--gray-500);

    padding: 1.1rem;
    width: 100%;

    border-radius: 8px;
    border: none;
}

.conversor button{
    background-color: var(--blue-500);
    color: var(--white);
    border-radius: 8px;
    border: none;
    height: 90%;

    padding: 0 2rem;
    margin-left: 0.5rem;
    gap: 0.25rem;

    font-weight: bold;
    display: flex;
    align-items: center;

    transition: color 0.1s, background-color 0.1s;    
}

.conversor button:hover{
    background-color: var(--blue-300);
}

.seletorBase {
    background-color: var(--gray-500);
    color: var(--gray-300);
    border-radius: 8px;
    border: none;

    margin-left: 0.5rem;
    height: 90%;
}

.resultado {
    background-color: var(--gray-500);
    justify-content: center;
    border-radius: 8px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    color: var(--white);
}
.resultado p{
    background-color: var(--gray-400);
    border-radius: 8px;
    border: none;
    padding: 0 2rem 0;
    margin: 0;
    color: var(--blue-300);
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: 1rem;
}

.historico {
    background-color: var(--gray-500);
    justify-content: center;
    border-radius: 8px;
    border: none;
    padding: 0.5rem;
    font-weight: bold;
    text-align: center;
}
.historico ul {
    background-color: var(--gray-400);
    border-radius: 8px;
    padding: 1rem;
    padding: 0;
    list-style: none;
    margin: 0.3rem;
}
.historico li:nth-child(odd) {
    background-color: var(--gray-450);
    border-radius: 8px;
}

.historicoBarra{
    background-color: var(--gray-500);
    border-radius: 8px;
    width: 100%;
    padding: 0.5rem;
}